construct-typing==0.6.2   # via crsf-parser
construct==2.10.67        # via construct-typing, crsf-parser
crsf-parser==0.3.0        # via -r requirements.in
pyserial==3.5             # via -r requirements.in
