construct-typing==0.5.1   # via crsf-parser
construct==2.10.68        # via construct-typing, crsf-parser
crsf-parser==0.3.0        # via -r requirements.in
pyserial==3.5             # via -r requirements.in
